.Registro .Formulario {
    width: 50vh;  /* 50% del ancho de la ventana */
    height: auto; /* Altura automática basada en el contenido */
    max-height: 50vh; /* Máximo 50% de la altura de la ventana */
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    overflow-y: auto; /* Permitir scroll si el contenido es más alto que 50vh */
}

.Registro .Formulario h1 {
    text-align: center;
    padding-bottom: 10px;  /* Reducido para hacer el formulario más compacto */
    border-bottom: 1px solid silver;
    font-size: 24px; /* Tamaño ajustado */
}

.Registro form {
    padding: 0 20px;
    box-sizing: border-box;
}

.Registro .InputField {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 15px 0;  /* Reducido el margen vertical */
}

.Registro input {
    width: 100%;
    padding: 0 10px;
    height: 35px;  /* Ajuste en la altura de los inputs */
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.Registro label {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.Registro input:focus ~ label {
    top: -10px;
    left: 0;
    font-size: 14px;
    color: #ce35dd;
}

.Registro input[type="submit"] {
    width: 100%;
    height: 45px; /* Un poco más pequeño */
    border: 1px solid transparent;
    background: #ce35dd;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.Registro input[type="submit"]:hover {
    border-color: purple;
    background-color: purple;
}

.Registro .Login {
    margin: 20px 0; /* Reducido */
    text-align: center;
    font-size: 14px; /* Tamaño de texto ajustado */
    color: black;
}

.Registro .Login a {
    color: blue;
    text-decoration: none;
}

.Registro .Login a:hover {
    text-decoration: underline;
}

