* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F7FA;
}

.register-container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #E5F1F9;
}

.register-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.register-header img {
    width: 70px;
    height: 70px;
}

.register-header h2 {
    font-size: 1.8em;
    color: #1A447A;
    margin-top: 10px;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    background-color: #9ecae1;
    color: #333;
    font-size: 1em;
    text-align: center;
    outline: none;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.register-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 1em;
    cursor: pointer;
    margin-top: 15px;
    border: 1px solid #333;
}

.register-form button:hover {
    background-color: #e0e0e0;
}

/* Estilos para el botón "Volver" */
.login-link {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px; /* Espacio entre el botón "Registrarse" y el botón "Volver" */
    border: none;
    border-radius: 25px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border: 1px solid #333;
    cursor: pointer;
}

.login-link:hover {
    background-color: #e0e0e0;
}
